CI_ENVIRONMENT = development

database.default.hostname = db
database.default.database = miapp
database.default.username = root
database.default.password = root
database.default.DBDriver = MySQLi
database.default.port = 3306

app.baseURL = 'http://localhost:8000/'